<% if current_user != nil %>

<h1 class="jumbotron" style="text-align: left; background-color: lightgreen"><%= current_user.username.capitalize %>'s Twitter Feed
</h1>

	<div class="col-md-3">
		<div class="well">
		<p>User:<%= current_user.name %></p>
		<p>Bio:<%= current_user.bio %></p>
		<p>Location:<%= current_user.location %></p>
		</div>
	</div>
	

	<div class="col-md-6" style="background-color: lightblue">
	<% @following_tweets.each do |tweet| %>
		<div class="well">
			<p>
			<% if tweet.user.avatar.url != nil %>
			<%= image_tag tweet.user.avatar.url, size: 30 %>
			<% end %>

			@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %>
			</p>
		<p class="well"><%= tweet.message.html_safe %></p>
		<h6><%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %></h6>
		<h6><%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at >= 86400 %></h6>
		</div>
	
	<% end %>
	</div>

	<div class="col-md-3">

	</div>





<% end %>